.wrapper {
    font-family:"Montserrat", sans-serif;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

/*____________________________HEADER___________________________________*/

.header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

#hexagon {
    width: 60px;
    height: 40px;
    background: #18cfab;
    position: absolute;
    top: 40px;
    cursor: pointer;
    z-index: 99;
}
#hexagon:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 16px solid #18cfab;
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 16px solid #18cfab;
}

.logo-img-text {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    position: absolute;
    left: 14px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 73px;
    position: relative;
    bottom: -4px;
}

.f-w-r {
    font-weight: normal;
}

.main-menu {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    position: relative;
}

.main-menu-link {
    margin-left: 17px;
    padding: 55px 0 53px 0;
    border-bottom: 2px solid transparent;
    transition: 500ms ease;
}

.search {
    cursor: pointer;
    margin-left: 17px;
    padding: 48px 0;
    border-bottom: 2px solid transparent;
    transition: 500ms ease;
}

.main-menu-link:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

.search:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

/*_____________________________MAIN_SCREEN_SECTION________________________*/

.main-screen {
    background: linear-gradient(
            rgba(194,198,204,0.3),
            rgba(194,198,204,0.3)),
    url("../img/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-block {
    text-align: center;
}

.ham-is {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 365px;
}

.we-are {
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 40px;
}

.buy-and-enjoy {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 30px;
}

.button-block {
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 140px;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
}


/*________________SUPERIOR_QUALITIES_______________*/

.superior-qualities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:367px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.quality-img {
    margin-top: 95px;
}

.quality-text-sm {
    margin-top: 50px;
}

.quality-text-lg {
    margin-top: 70px;
}

.black-green {
    background-color: #1c2a33;
    border-top: 8px solid #18cfab;
}

.green-white {
    background-color: #18cfab;
    border-top: 8px solid white;
}


/*________________________OUR_SERVICES________________*/

.our-services-menu {
    display: flex;
    font-size: 16px;
    text-transform: capitalize;
    color: #7a7a7a;
}

.service-tab {
    width: calc(100% / 6);
    padding: 30px 0;
    border: 1px solid #cdcdcd;
    border-left: none;
    background-color: #f8fcfe;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
}

.service-tab.active {
    background-color: #18cfab;
    color: white;
    border: 1px solid #18cfab;
}

.service-tab.active::after {
    content: url("../img/Rectangle.png");
    position: absolute;
    top: 75px;
    left: calc(50% - 12px);
}

.display {
    display: grid;
    grid-template-columns: 19% 79%;
    grid-column-gap: 2%;
    grid-template-areas: "service-img service-text";
    margin-bottom: 100px;
}

.service-img {
    grid-area: service-img;
    width: 100%;
    height: 150px;
    border: 1px solid #7a7a7a;
}

.article-text {
    grid-area: service-text;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    line-height: 27px;
}

.display[data-display="false"] {
    display: none;
}


/*_________________JUST_BUY_____________________*/

.just-buy {
    background: linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)),
    url("../img/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.just-buy-slogan {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 130px;
    margin-bottom: 35px;
}

.just-buy-text {
    font-size: 16px;
    text-align: center;
}

.just-buy-btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 75px 0 140px;
    display: flex;
    justify-content: center;
}


/*__________________AMAZING_WORK__________________*/

.amazing-work {
    background-color: #f8fcfe;
    border-bottom: 1px solid #ebebeb;
}

.amazing-work-menu {
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-transform: capitalize;
    color: #7a7a7a;
    margin-bottom: 70px;
}

.amazing-work-menu-item {
    padding: 24px 20px 20px ;
    border: 1px solid #cdcdcd;
    border-left: none;
    cursor: pointer;
}

.amazing-work-menu-item.active {
    font-weight: bold;
    color: #18cfab;
    border-top: 2px solid #18cfab;
}


.amazing-work-img-wr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*grid-template-columns: repeat(4, 1fr);*/
}

.amazing-work-hover {
    position: relative;
}

.amazing-work-hover[data-display="false"] {
    display: none;
}

.amazing-work-img {
    width: 100%;
    height: 205px;
    display: block;
}

.cover-item-amazing-work-img {
    box-sizing: border-box;
    border-top: 3px solid #18cfab;
    text-align: center;
    background-color:white;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    transition: 500ms ease;
    opacity: 0;
}

.icon {
    margin: 40px 0 30px ;
}

.share-ic {
    color: #18cfab;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.share-pos {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 9px);
}

.search-ic {
    color: white;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #18cfab;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.search-pos {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 11px);
}

.amazing-work-img-cover-title {
    font-weight: bold;
    font-size: 18px;
    color: #18cfab;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.amazing-work-img-cover-subtitle {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    color: #717171;
}

.amazing-work-hover:hover .cover-item-amazing-work-img  {
    opacity: 1;
}

.load-btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 70px 0 100px;
    display: flex;
    justify-content: center;
    position: relative;
}

.amazing-work-img[data-display="false"] {
    display: none;
}


/* _________________BREAKING_NEWS__________________*/

.breaking-news {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-column-gap: 2%;
    grid-row-gap: 45px;
    margin-bottom: 135px;
}

.news-item {
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    position: relative;
}

.news-title {
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
    color: #717171;
    padding: 14px 0;
    margin-left: 15px;
    transition: 500ms ease;
}

.comment-statistics {
    font-size: 14px;
    font-weight: 300;
    color: #717171;
    padding-bottom: 12px;
    margin-left: 15px;
}

.news-img {
    width: 100%;
}

.separator {
    margin: 0 15px;
}

.square {
    height: 68px;
    width: 68px;
    background-color: #203e38;
    position: absolute;
    right: 0px;
    font-size: 16px;
    color: white;
    font-weight: 300;
    transition: 500ms ease;
}

.date {
    text-align: center;
    margin: 11px 0;
}

.month {
    text-align: center;
}

.news-item:hover .square {
    background-color: #18cfab;
}

.news-item:hover .news-title {
    color: #18cfab;
}


/*_________________SAY_ABOUT_HAM___________________ */

.say-about-ham {
    background-image: url("../img/Sections background/section-3.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.say-about-ham .title-text {
    color: white;
}

.about-ham-img {
    margin: 0 calc(50% - 22px) 45px;
}

.lower-case {
    text-transform: lowercase;
}


.user-comment {
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 30px;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #18cfab;
    margin: 43px 0 15px;
}

.user-profession {
    font-size: 12px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.main-user-photo-wr {
    margin: 0 calc(50% - 100px) 0;
    border-radius: 50%;
}

.main-user-photo {
    border-radius: 50%;
    border: 2px solid rgba(24,207,171,0.2);
    box-shadow: 0 0 0 10px rgba(24,207,171,0.2);
    margin-bottom: 60px;
    opacity: 0;
    animation: showMainPhoto 500ms linear forwards;
}

@keyframes showMainPhoto {
    0% {
        opacity: 0;
        border: 2px solid rgba(24,207,171,0.2);
    }
    100% {
        opacity: 1;
        border: 2px solid rgba(24,207,171,1);
    }
}

.user-photo-container {
    display: flex;
    padding-bottom: 105px;
    justify-content: center;
    align-items: center;
}

.small-user-img {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    border: 2px solid rgba(24,207,171,0.2);
    box-shadow: 0 0 0 6px rgba(24,207,171,0.2);
    margin: 0 18px;
    cursor: pointer;
    position: relative;
    top: 0px;
    transition-property: border-color, transform ;
    transition-duration: .5s
}

.small-user-img:hover {
    border: 2px solid rgb(24,207,171);
    transform: translate(0px, -15px);
}

.small-user-img.active {
    border: 2px solid rgb(24,207,171);
    transform: translate(0px, -15px);
}


.arrow {
    height: 31px;
    width: 31px;
    border: 1px solid white;
    margin: 0 18px;
    cursor: pointer;
    transition: 500ms ease;
}

.arrow:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.arrow-left {
    height: 8px;
    width: 8px;
    border: 2px solid white;
    margin: 11px 0 0 12px;
    transform: rotate(45deg);
    border-top: none;
    border-right: none;
}

.arrow-right {
    height: 8px;
    width: 8px;
    border: 2px solid white;
    margin: 11px 0 0 9px;
    transform: rotate(45deg);
    border-bottom: none;
    border-left: none;
}

.block-for-change[data-display="false"] {
    display: none;
}

/* ___________________BEST_IMG_MASONRY_GALLERY____________________ */

.size {
    width: 31.5%;
}

.masonry-item {
    border: 10px solid rgba(0, 0, 0, 0);
}

.masonry-item img {
    width: 100%;
    height: auto;
    display: block;
}

.m-g .btn {
    margin-left: 0;
}

.cover-item {
    background-color:black;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    transition: 500ms ease;
    opacity: 0;
    text-align: center;
}

.fa-icon-wr {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 67px);
}

.hover-icon {
    width: 45px;
    height: 40px;
    background-color: #00cbf6;
    color: white;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 15px;
}

.hover-icon i {
    margin-top: 9%;
}

.masonry-item:hover .cover-item {
    opacity: 0.6;
}

.masonry-item:hover .cover-item i {
    opacity: 1;
}

/*_____________FOOTER_________*/

.footer {
    background-color: #22353f;
}

.footer-info {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    padding: 47px 0;
}

/*_________________SECTION_TITLE___________________*/

.section-title {
    font-size: 36px;
    text-transform: capitalize;
    padding: 80px 0 110px;
    position: relative;
    text-align: center;
}

.section-title:after {
    content: "";
    position: absolute;
    border-left: 80px solid #18cfab;
    border-bottom: 1.5px solid #18cfab;
    top: 150px;
    left: 537px;
}

.section-title:before {
    content: "";
    position: absolute;
    border-left: 80px solid #18cfab;
    border-bottom: 1.5px solid #18cfab;
    top: 155px;
    left: 550px;
}

/*________________PRELOADER__________________ */

.preloader-container {
    position: absolute;
    top: 75%;
    left: 51%;
    transform: translate(-50%, -50%);
    display: none;
}

.gallery-preloader-container {
    position: absolute;
    top: 75%;
    left: 51%;
    transform: translate(-50%, -50%);
    display: none;
}

.dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: #18cfab;
    box-shadow: 0 0 10px 0 #cdcdcd;
}

.uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;
}

.dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
}

.tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
}

.cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    30% {
        transform: rotate(370deg);
    }
    35% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    35% {
        transform: rotate(-190deg);
    }
    40% {
        transform: rotate(-180deg);
    }
    78% {
        transform: rotate(-180deg);
    }
    95% {
        transform: rotate(-360deg);
    }
    98% {
        transform: rotate(-370deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    80% {
        transform: rotate(370deg);
    }
    85% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    65% {
        transform: rotate(-370deg);
    }
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/*___________________FOR_ALL________________*/

.green-text {
    color:#18cfab;
}

.white-text {
    color: white;
}

.grey-text {
    color: gainsboro;
}

.blue-bg {
    background-color: #00cbf6;
}

.green-bg {
    background-color: #18cfab;
}

.silver-text {
    color: #cdcdcd;
}

.btn {
    width: 165px;
    height: 60px;
    margin-left: 30px;
    border-radius: 5px;
    border-top: 5px solid white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}

.left-border {
    border-left: 1px solid #cdcdcd;
}

.btn-b-t {
    border-top: none;
}

.plus {
    margin-right: 16px;
}